header {
  .navbar {
    background-color: #fff;
    .navbar-inner {
      position: relative;
      max-width: 1200px;
      margin: auto;
      .navbar-top {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: 1px solid #e5e7e9;
          width: 101vw;
        }
        position: relative;
        z-index: 1001;
        padding: 6px 20px 6px 10px;
        display: flex;
        align-items: space-between;
        justify-content: center;
        .contacts-group {
          font-size: 14px;
          line-height: 1.71429;
          display: flex;
          flex-grow: 1;
          align-items: center;
          .contact-unit {
            margin-right: 24px;
            i {
              display: inline-block;
              margin-right: 8px;
            }
          }
        }
        .aside-group {
          display: flex;
          .icon i {
            width: 26px;
            height: 26px;
            line-height: 26px;
            border-radius: 26px;
            font-size: 26px;
            margin: 8px;
            color: #9b9b9b;
          }
        }
      }
    }

    .navbar-main {
      padding: 35px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #1e3953;
        font-weight: 700;
      }
      .nav-panel {
        display: flex;
        justify-content: flex-end;
        a {
          position: relative;
          color: #00030a;
          font-size: 16px;
          padding: 7px 0;
          margin-right: 42px;
          transition: 0.33s all ease-out;
          &:last-child {
            margin-right: 0;
          }
          &:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 3px;
            max-width: 100%;
            background: #58c4a7;
            transition: 0.33s all ease-out;
          }
          &.active:after,
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}
