<section class="hero-section">
  <div class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide-1">
        <div class="swiper-slide-caption">
          <div class="shell">
            <h2>
              <span>Act Confidently With Our Insurance Policy</span>
            </h2>
            <p>We can insure you from any kind of trouble</p>
            <a href="">Get a Quote</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide slide-2">
        <div class="swiper-slide-caption">
          <div class="shell">
            <h2>
              <span>Keep your business safe with our services.</span>
            </h2>
            <p>We can insure you from any kind of trouble</p>
            <a href="">Get a Quote</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-nav-wrap"></div>
  </div>
</section>
<section class="features">
  <div class="container">

  </div>
</section>